<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration [
        <!ELEMENT configuration (config)>
        <!ELEMENT config (bean*)>
        <!ELEMENT bean (#PCDATA)>
        <!ATTLIST bean id ID #REQUIRED>
        <!ATTLIST bean class CDATA #REQUIRED>
        ]>
<configuration>
    <config>
        <bean id="fileLoggerFactory" class="com.yibo.factory.FileLoggerFactory"/>
        <bean id="databaseLoggerFactory" class="com.yibo.factory.DatabaseLoggerFactory"/>
        <bean id="springSkinFactory" class="com.yibo.abstractfactory.impl.SpringSkinFactory"/>
        <bean id="angelBuilder" class="com.yibo.buiderpattern.AngelBuilder"/>
        <bean id="devilBuilder" class="com.yibo.buiderpattern.DevilBuilder"/>
        <bean id="heroBuilder" class="com.yibo.buiderpattern.HeroBuilder"/>
        <bean id="summerSkinFactory" class="com.yibo.abstractfactory.impl.SummerSkinFactory"/>
    </config>
</configuration>